<% provide :title, "user #{@user.name}" %>
<h2 class="section-heading"><%= @user.name %></h2>
<p>Email: <%= @user.email %></p>
<p>
	<% if @user.admin? then %>
		This user is administrator.
	<% end %>
	<% if @user.author? then %>
		This user is author.
	<% end %>
</p>

