/******************************************   B O D Y   ******************************************/

    body {
        margin: 0;
        vertical-align: top;
        background-color: #fffff6;
        height: 100%;
    }
    
    /* Grundformatierung sämtlicher Links */
    a:link, a:active, a:visited {
        text-decoration: none;
        color: #80bb66;
    }
    a:hover {
        text-decoration: underline;
        color: #44bb11;
    }
  
/******************************   G L O B A L E R   W R A P P E R   ******************************/

    .wrap-all {
        margin: 0;
        width: 100%;    /* Füllt das gesamte Browserfenster aus */
        height: 100%;
    }
    
/****************************************   W R A P P E R   **************************************/

    .wrapper {
        margin: 0 auto 0 auto;  /* Zentriert die Website */
        padding: 0 10px 0 10px; /* Abstand der Rahmen zum Content (Wird zur width hinzugerechnet) */
        width: 820px;    /* Breite der Website */
        height: 100%;
        text-align: left;
        
        border-left-style: solid;
        border-left-width: 1px;
        border-left-color: #80bb66;
        
        border-right-style: solid;
        border-right-width: 1px;
        border-right-color: #80bb66;
    }
    
/*****************************************   H E A D E R   ***************************************/

    .wrapper .header {
        width: inherit;
    }
    
    /* Blog-Überschrift */
    h1 {
        font-family: Georgia, serif;
        font-size: 3em;
        color: #80bb66;
        text-align: center;
        
        margin: 0;
        padding: 30px 0 40px 0;
    }
    h1 a:hover {
        text-decoration: none;
    }
    
/****************************************   B A N N E R   ****************************************/

    .wrapper .header .banner {
        width: inherit;
    }

/************************************   N A V I G A T I O N    ***********************************/

    .wrapper .header .navigation {
        padding: 1px 5px 1px 5px; /* Raum um das Set der Navigations-Buttons */
        border-top: solid 1px #80bb66;
        border-bottom: solid 1px #80bb66;
    }
    
    .header .navigation ul.main-nav {
        width: inherit;
        
        /* Aus mir unerklärlichen Gründen werden diese Werte immer mit 40px vorbelegt. */
        -webkit-padding-start: 0px;
        -moz-padding-start: 0px;
        padding-left: 0px;  /* Für den IE 8 & Opera */
    }
    
    .header .navigation ul.main-nav li {
        display: inline-block;  /* Ordnet die Buttons der Haupt-Navigation nebeneinander an */
    }
    
    /* Element-Beschriftungen Inaktiv (Unbesucht & Besucht) */
    ul.main-nav li a:link, ul.main-nav li a:visited {
        font-family: Georgia, serif;
        font-size: 1.5em;
        
        margin: 0 5px 0 5px;  /* Abstand zwischen den Elementen */
    }
    
    /* Hover über aktivem Element */
    ul.main-nav li a:hover {
        text-decoration: none;
    }
    
    /* Login/Logout-Button */
    ul.main-nav li.signinout {
        float: right;   /* Platziert Login/out am rechten Rand der Navigation */
    }
    
/*******************************   C O N T E N T - W R A P P E R   *******************************/

    .wrapper .content {
        width: inherit;

        padding-top: 30px;
    }
    
    /* Überschriften über bestimmten Bereichen der Website */
    h2.section-heading {
        font-family: Georgia, serif;
        font-size: 2em;
        color: #80bb66;
        
        margin: 0 0 60px 10px;
    }
    
    /* Artikel Vor/Zurück */
    .wrapper .content .pagination {
        text-align: right;
    }
    
    /* Ein einzelner Blogpost */
    .wrapper .content .blogpost {
        width: inherit;
        
        padding-bottom: 40px;
    }

    /* Titel des Postings */
    h3.posttitle {
        font-family: Georgia, serif;
        font-size: 1.4em;
        
        margin: 0 0 0 10px;
    }

    /* Datum des Postings */
    h3.postdate {
        font-family: Georgia, serif;
        font-size: .9em;
        font-weight: normal;
        
        margin: 0 0 0 10px;
    } 
    
    /* Fließtext des Postings */
    .blogpost .entry {
        font-family: serif;

        margin-top: .8em;
        margin-bottom: 1.4em;
    }
    
    /* Metadaten unter dem Posting */
    .blogpost .metainfo span {
        font-family: Verdana, Arial, sans-serif;
        font-size: 10px;
    }
    
    /* „Bearbeiten“ & „Löschen“ */
    .blogpost .modify span, .blogpost .modify span a:link, .blogpost .modify span a:active, .blogpost .modify span a:visited {
        font-family: Verdana, Arial, sans-serif;
        font-size: 10px;
        color: #000000;
        text-decoration: none;
    }
    .blogpost .modify span.edit a:hover {
        text-decoration: underline;
    }
    .blogpost .modify span.delete a:hover {
        text-decoration: underline;
        color: #bb1129;
    }

/****************************   T E X T F O R M A T I E R U N G E N   ****************************/

    /*** HIER KOMMEN DIE TEXTFORMATIERUNGEN HIN ***/
    /*** BLOCKQUOTE, CODE, IMG, UL, OL ETC. ***/

/*************************************   W I D G E T B A R   *************************************/

    .wrapper .widgetbar {
        width: inherit;
    }

/****************************************   F O O T E R   ****************************************/

    .wrapper .footer {
        width: inherit;
    }

/**********************************   L O G I N / L O G O U T   **********************************/

    /* Login-Formular */
    .wrapper .content .sign-in-form {
        width: 170px;
        margin: 0 auto 70px auto;
        padding: 15px 20px;
                
        border: #80bb66 1px dashed;
    }
    .sign-in-form .email {
        padding-bottom: 10px;
    }
    .sign-in-form .email input {
        width: 165px;
    }
    .sign-in-form .password {
        padding-bottom: 20px;
    }
    .sign-in-form .password input {
        width: 165px;
    }
    .sign-in-form .permanent {
        padding-bottom: 20px;
    }
    .sign-in-form .sign-in {
        float: right;
        padding-bottom: 30px;
    }
    .sign-in-form .new-user {
        clear: both;
    }
    
    /* Formular um neuen Benutzer anzulegen */
    .wrapper .content .new-user-form {
        width: 280px;
        margin: 0 auto 60px auto;
        text-align: right;
        padding: 15px 20px;

        border: #80bb66 1px dashed;
    }
    
/*****************************   B E I T R A G   V E R F A S S E N   *****************************/

    .wrapper .content .editpost {
        
    }
    
    .editpost form input#blogpost_caption {
        width: 400px;
    }
    
    .editpost form .field textarea#blogpost_content {
        width: 600px;
    }
    
/*************************************   E D I T   U S E R   *************************************/

    /* User-Löschen-Link */
    .edit-user span.delete a:link, .edit-user span.delete a:active, .edit-user span.delete a:visited {
        color: #bb1129;
        text-decoration: none;
    }
    .edit-user span.delete a:hover {
        color: #bb1129;
        text-decoration: underline;
    }

/**********************************   M I T T E I L U N G E N   **********************************/

    /* Alerts generell */
    .alert {
        text-align: center;
        
        border-style: dashed;
        border-width: 1px;
        width: 400px;
        padding: 20px 15px;
    }
    
    /* Fehlermeldung mit Rot gestricheltem Rahmen */
    .alert-error, .alert-notice {
        color: #bb1129;
        
        border-color: #bb1129; /* rot */
        margin: 50px auto 30px auto;
    }

    /* Nachricht mit orange gestricheltem Rahmen */
    .alert-message {        
        border-color: #bb5811; /* orange */
        margin: 0 auto 60px auto;
    }
    .alert-message .message-text {
        color: #bb5811;
    }
    
    .alert-message span.cancel-delete, .alert-message span.cancel-delete a:link, .alert-message span.cancel-delete a:visited, .alert-message span.cancel-delete a:active {
        color: #000000;
        text-decoration: underline;
    }
    
    /* Nachricht mit grün gestricheltem Rahmen */
    .alert-success {
        border-color: #80bb66; /* grün */
        margin: 60px auto 40px auto;
    }