/*********** SCSS color variables ***************/
$main-background-color: #fffff6;
/* color for borders, captions, links */
$main-foreground-color: #80bb66;

$link-hover-color: #44bb11;

$button-background-color: #e8ffd8;
$button-background-color-hover: #d8ffc8;
$button-text-color: DarkSlateGray;

/******************************************   B O D Y   ******************************************/

    body {
        margin: 0;
        vertical-align: top;
        background-color: $main-background-color;
        height: 100%;
    }

    /* Grundformatierung sämtlicher Links */
    a:link, a:active, a:visited {
        text-decoration: none;
        color: $main-foreground-color;
    }
    a:hover {
        text-decoration: underline;
        color: $link-hover-color;
    }

/**********************************   Grundformatierungen Eingabeelemente ************************/

    /* Grundformatierung von buttons */
    button, .cancel-delete:link, .cancel-delete:active, .cancel-delete:visited {
        font-family: Georgia, serif;
        font-size: 18px;

        border-style: none;
        background-color: $button-background-color;
        color: $button-text-color;

        padding: 0.25em;
    }
    button:hover, .cancel-delete:hover { 
        background-color: $button-background-color-hover;
        text-decoration: none;
        color: $button-text-color;
    }

    /*Textfelder*/
    input[type="text"], input[type="password"] {
        width: 90%;
    }

    textarea {
        width: 90%;
    }
    

/****************************   T E X T F O R M A T I E R U N G E N   ****************************/

    /*** Grundelegende Textformatierungen ***/
    /*** BLOCKQUOTE, CODE, IMG, UL, OL ETC. ***/
    
    blockquote::before {
      content: "”";
      position: absolute;
      left: -0.11em;
      top: -0.15em;

      font-family: georgia, serif;
      font-size: 3.5em;
      font-weight: bold;
    }
    /* Zitatboxen */
    blockquote {
        position: relative; //needed for positioning of "”"
        font-style: italic;
        
        padding: 0 1.5625em 0 1.875em;
        background-position: left top;
        background-repeat: no-repeat;
        em {
          font-style: normal;
        }
        margin: 1.25em 1.875em 1.25em 1.875em;
    }

/**********************************   M I T T E I L U N G E N   **********************************/

    /* Alerts generell */
    .alert {
        text-align: center;
        
        border-style: dashed;
        border-width: 1px;
    }
        /* Desktop, iPad, etc. */
        @media only screen and (min-device-width: 481px) {
            /* Alerts generell */
            .alert {
                width: 25em;
                padding: 1.25em .9375em;
            }
        }
        /* Kleinere Geräte */
        @media only screen and (max-device-width: 480px) {
            /* Alerts generell */
            .alert {
                width: 16em;
                padding: .7em .5em;
            }
        }
    
    /* Fehlermeldung mit Rot gestricheltem Rahmen */
    .alert-error {
        color: #bb1129;
        
        border-color: #bb1129; /* rot */
        margin: 3.125em auto 1.875em auto;
    }

    /* Nachricht mit orange gestricheltem Rahmen */
    .alert-message, .alert-notice {        
        color: #bb5811;
        
        border-color: #bb5811; /* orange */
        margin: 2.5em auto 3.75em auto;
    }
    .alert-message .message-text {
        color: #bb5811;
    }
    
    /* Nachricht mit grün gestricheltem Rahmen */
    .alert-success {
        border-color: $main-foreground-color; /* grün */
        margin: 3.75em auto 2.5em auto;
    }
  
/******************************   G L O B A L E R   W R A P P E R   ******************************/

    .wrap-all {
        margin: 0;
        width: 100%;    /* Füllt das gesamte Browserfenster aus */
        height: 100%;
    }
    
/****************************************   W R A P P E R   **************************************/

    .wrapper {
        height: 100%;
        text-align: left;
        margin: 0 auto 0 auto;  /* Zentriert die Website */
        
        max-width: 51.25em;    /* Breite der Website */
    }
        /* Desktop, iPad, etc. */
        @media only screen and (min-device-width: 481px) {
            .wrapper {
                padding: 0 .625em 0 .625em; /* Abstand der Rahmen zum Content (Wird zur width hinzugerechnet) */
                
                border-left-style: solid;
                border-left-width: 1px;
                border-left-color: $main-foreground-color;
                
                border-right-style: solid;
                border-right-width: 1px;
                border-right-color: $main-foreground-color;
            }
        }
        /* Kleinere Geräte */
        @media only screen and (max-device-width: 480px) {
            .wrapper {
                padding: 0; 
                margin: 0 1em 0 1em;
            }
        }
    
/*****************************************   H E A D E R   ***************************************/

@import 'header';

/*******************************   C O N T E N T - W R A P P E R   *******************************/

    .wrapper .content {
        width: inherit;
        padding-top: 1.875em;
    }

    /* Überschriften über bestimmten Bereichen der Website */
    h2.section-heading {
        font-family: Georgia, serif;
        color: $main-foreground-color;
        
        margin: 0 0 2em .625em;
        font-size: 2em;
    }

    /* Artikel Vor/Zurück */
    .pagination {
        text-align: right;
    }
        /* Kleinere Geräte */
        @media only screen and (max-device-width: 480px) {
            /* Artikel Vor/Zurück */
            .pagination {
                padding-bottom: 2em;
            }
        }
    
    
    /* Ein einzelner Blogpost */
    article.blogpost {
        width: inherit;
        
        padding-bottom: 2.5em;
    }
    
    
    /* Ein noch nicht veröffentlichter Blogpost */
    .unpublished article.blogpost {
        border-left-style: solid;
        border-left-width: .4em;
        border-left-color: #66a4bb;
    }
    
    
    /* Titel des Postings */
    h3.posttitle {
        font-family: Georgia, serif;
        font-size: 1.4em;

        margin: 0 0 0 .625em;
    }

    /* Datum des Postings */
    h3.postdate {
        font-family: Georgia, serif;
        font-weight: normal;
        
        margin: 0 0 0 .625em;
        font-size: .9em;
    } 

    /* Fließtext des Postings */
    article.blogpost .entry {
        font-family: serif;

        margin-top: .8em;
        margin-bottom: 1.4em;
    }

    /* Metadaten unter dem Posting */
    article.blogpost footer span {
        font-family: Verdana, Arial, sans-serif;
        margin: 0;
        padding: 0;
        font-size: .5em;
    }

    /* „Bearbeiten“ & „Löschen“ */
    article.blogpost .modify span {
        font-family: Verdana, Arial, sans-serif;
        font-size: .5em;
    }
    article.blogpost .modify span a:link, article.blogpost .modify span a:active, article.blogpost .modify span a:visited {
        font-size: 2em; /* Bugfix für den Firefox, Schrift wird sonst zu klein dargestellt */
        color: #000000;
        text-decoration: none;
    }
    article.blogpost .modify span.edit a:hover {
        text-decoration: underline;
    }
    article.blogpost .modify span.delete a:hover {
        text-decoration: underline;
        color: #bb1129;
    }
    article.blogpost img {
        max-width: 100%;
    }

/************************************   K O M M E N T A R E   ************************************/

    .comments ul {
        list-style-type: none;
    }

    /* Wrapper um einen einzelnen Kommentar */
    .single-comment {
        border-left: 1px dotted $main-foreground-color;
        
        padding-left: .7em;
        margin-bottom: 1.5em;
    }


    /* Titel eines Kommentars */
    h4.comment-title {
        font-family: Georgia, serif;
        
        margin-bottom: 0;
    }

    /* Kommentartext */
    .comment-entry p {
        font-family: serif;
        
        margin-top: .4em;
        margin-bottom: .6em;
    }

    /* Kommentar Meta-Infos */
    .comment-metainfo, .comment-reply-link {
        font-family: Verdana, Arial, sans-serif;
        font-size: .5em;
    }

/*********************************   E D I T   C O M M E N T S   *********************************/


    /* New Comment Form Wrapper */
    .editcomment {
        margin: .1875em auto 3em auto;
        width: 100%;
    }

    .editcomment form div {
        margin-bottom: 1px;
    }

    /* honeypot field for comments to filter out spambots. Let's see if it works. */
    .editcomment .topyenoh {
      display: none;
    }
    
    /* Comment Author Name */
    .comment-author-name label {
        display: none;
    }

    /* Comment Caption */
    .comment-caption label {
        display: none;
    }

    /* Submit-Button */
    .comment-buttons {
        text-align: center;
    }
 
/******************************   Q U O T E   O F   T H E   D A Y   ******************************/

    .bufferinfo {
        margin-bottom: 3.125em;
    }

    /* Ein noch nicht veröffentlichtes Quote */
    .unpublished .qotd {
        margin: 1em 0 4em 1.6em; /* angepasst, damit der Abstand zum linken Rand der Website wieder passt (border ist dazugekommen) */
        border-left-style: solid;
        border-left-width: .4em;
        border-left-color: #66a4bb;
    } 

    /* Edit/Delete-Links */
    .quote-author-links {
        font-family: Verdana, Arial, sans-serif;
        font-size: .5em;
    
        margin: .33em 0 .5em 2.8em;
    }
    .quote-author-links a:link, .quote-author-links a:active, .quote-author-linksn a:visited {
        color: #000000;
        text-decoration: none;
    }
    .quote-author-links .edit a:hover {
        text-decoration: underline;
    }
    .quote-author-links .delete a:hover {
        text-decoration: underline;
        color: #bb1129;
    }

/****************************************   F O O T E R   ****************************************/

    .wrapper .footer {
        width: inherit;
        border-top: solid 1px $main-foreground-color;
    }
    
    .footer-feed-links {
        
    }

/**********************************   L O G I N / L O G O U T   **********************************/

    /* Login-Formular */
    .sign-in-form {
        margin: 0 auto 4.375em auto;
        padding: .9375em 1.25em;
        width: 10.625em;
                
        border: $main-foreground-color 1px dashed;
    }

    .sign-in-form .email {
        padding-bottom: .625em;
    }
    
    /* E-Mail-Input-Feld */
    .sign-in-form .password {
        padding-bottom: 1.25em;
    }
    
    /* Eingelogged-bleiben-Checkbox */
    .sign-in-form .permanent {
        text-align: right;
        padding-bottom: 1.25em;
    }

    /* Sign-In-Button */
    .sign-in-form .sign-in {
        float: right;
        padding-bottom: 1.875em;
    }
 
    /* New-User-Link */
    .sign-in-form .new-user {
        text-align: right;
        clear: both;
    }

    /* Formular um neuen Benutzer anzulegen */
    .new-user-form {
        margin: 0 auto 3.75em auto;
        text-align: right;
        padding: 1.25em 1.25em;

        border: $main-foreground-color 1px dashed;
        width: 17.5em;
    }

    /* Wrapper Username */
    .user-name {
        padding-bottom: .3125em;
    }
    
    /* Wrapper E-Mail  */
    .user-email {
        padding-bottom: .9375em;
    }

    /* Wrapper Passwort */
    .user-password {
        padding-bottom: .3125em;
    }

    /* Wrapper Passwort-Confirm */
    .user-password-confirm {
        padding-bottom: .9375em;
    }
    
    /* Button Create-User */
    .create-user-button {
        
    }
    
    
    
    
    /* Bei Fehlerhafter Eingabe hervorgehobene Formularfelder */
    .field_with_errors {
        color: #bb1129;
        display: inline-block;
    }
    
    .field_with_errors input {
        border: #bb1129 1px solid;
    }
    
    /* Erläuterungen, was wo falsch eingegeben wurde */
    .error_explanation .alert-error {
        width: 12.5em;
        margin: 0 auto 1.875em auto;
    }
    
    .error_explanation ul {
        text-align: left;
        color: #bb1129;
        list-style-type: circle;
    }
    
    
    
/*****************************   B E I T R A G   V E R F A S S E N   *****************************/

    /* Bereich Post-Content */
    .blogpost-content {
        
    }
    
    /* Bereich Blogpost-Kategorie */
    .blogpost-category {
        margin-top: 2.5em;
    }
    
    /* Bereich Blogpost-Tags */
    .blogpost-tags {
        margin-top: .3125em;
    }
    
    /* Eingabefeld Blogpost-Tags */
    .blogpost-tags input#tags {
        width: 18.75em;
    }
    
    /* Bereich Absenden-/Vorschau-Buttons */
    .blogpost-action-buttons {
        margin-top: 2.5em;
        margin-bottom: 3.75em;
    }
     

/*********************************   E D I T   C A T E G O R Y   *********************************/

    /* Kategorietitel */
    .category-name {
        
    }
    
    /* Kategoriebeschreibung */
    .category-description {
        
    }

/*************************************   E D I T   U S E R   *************************************/
    
    /* Bereich Benutzername */
    .edit-user-name {
        
    }
    /* Eingabefeld benutzername */
    .edit-user-name input#user_name {
        margin-left: 3.25em;
    }
    
    /* Bereich E-Mail */
    .edit-user-email {
        margin-bottom: 1.25em;
    }
    /* Eingabefeld E-Mail */
    .edit-user-email input#user_email {
        margin-left: 3.3125em;
    }
    
    /* Bereich Passwort */
    .edit-user-password {
        margin-bottom: 1.875em;
    }
    /* Eingabefeld Passwort */
    .edit-user-password input#user_password {
        margin-left: 1.8125em;
    }
    /* Eingabefeld Passwort bestätigen */
    .edit-user-password input#user_password_confirmation {
        margin-left: .375em;
    }
    
    /* Bereich Änderungen-speichern-Button etc. */
    .edit-user-action-buttons {
        margin-bottom: 3.125em;
    }
    
    /* User-Löschen-Link */
    .edit-user span.delete a:link, .edit-user span.delete a:active, .edit-user span.delete a:visited {
        color: #bb1129;
        text-decoration: none;
    }
    .edit-user span.delete a:hover {
        color: #bb1129;
        text-decoration: underline;
    }

