<% provide :title, "delete category #{@category.name}" %>
<h2 class="section-heading">Delete category <%= @category.name %>?</h2>
<div>
<%= form_tag(category_path(@category), method: 'delete') do %>
	<div class="alert alert-message">
	   <p class="message-text">Do you really want to delete the category? All Blogposts in this category will be marked "Uncategorized".</p>
        <%= button_tag do %>
          Delete this category
        <% end %>
		or <%= link_to "cancel", categories_path, class: 'cancel-delete'%>
	</div>
<% end %>
</div
