<% provide :title, "stuff" %>
<h2 class="section-heading">Not everything here is a quote</h2>
<div class="quotes">
	<p class="bufferinfo">
		There are <%= @buffersize %> quotes in the buffer, this means there is a probability of <%= @prob*100 %>% that a quote will be released tomorrow.
	</p>
	<% if @author_user then %>
		<p class="authorlinks">
			<%= link_to "new quote", new_quote_of_the_day_path %>
		</p>
	<% end %>
	<%= render @quote_of_the_days, show_edit_links: @author_user || @admin_user %>
</div>
